.dashboardLayout {
  display: flex;
  gap: 50px;
  padding-top: 20px;
  height: 100%;

  .menu {
    flex: 1;
  }
  .content {
    flex: 4;
    overflow-y: auto;
    padding: 20px;
    border-radius: 20px;
    background-color: #12101b;
  }
}
